.row-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.4rem;
}
label {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

.input-textarea,
.input-form {
  width: 100%;
  outline: none;
  border: 0;
  border-bottom: 1px solid darkgray;
  font-size: 17px;
  margin-bottom: 2rem;
}
.input-textarea:focus,
.input-form:focus {
  border-bottom: 3px solid;
  border-bottom-color: #12b9a0;
  transition: 0.7s ease all;
}

.input-form {
  height: 35px;
}

.input-textarea {
  height: 130px;
}

::placeholder {
  color: #d8d8d8;
}

.form-button {
  background-color: #00d1b2;
  border: 1px solid;
  border-color: #00d1b2;
  width: 80px;
  height: 30px;
  color: #ffff;
  font-size: 14px;
  outline: none;
  border-radius: 3px;
}

.form-button:hover {
  background-color: #27f5d6;
  border-color: #27f5d6;
}

.form-button:active {
  background-color: #2eaf9c;
  border-color: #2eaf9c;
}

.img__contact {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media all and (max-width: 768px) {
  .row-contact {
    grid-template-columns: 1fr;
  }
  .contact,
  .img-contact {
    margin-bottom: 2rem;
  }
}
