@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

* {
  font-family: "PT Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #dfdfdf;
}

header {
  width: 100%;
  height: 300px;
  background-color: #00d1b2;
  color: #ffffff;
}

.lead {
  width: 50%;
  margin: auto;
  padding-top: 5rem;
  margin-bottom: 6rem;
  text-align: center;
}

.title,
.subtitle {
  margin: 0;
}

.menu {
  overflow: auto;
  white-space: nowrap;
  width: 70%;
  margin: auto;
  text-align: center;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.menu ul li {
  float: left;
  flex: 3;
}

.menu ul li a {
  text-decoration: none;
  color: #eee7e7;
}
.menu ul li a:hover {
  color: #ffffff;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  padding: 6px;
  padding-top: 2rem;
}

.row {
  display: flexbox;
}
